{% if title is defined %}
    <div class="{% if basic is defined %}subtitle{% else %}simple-title{% endif %}" id="faq">{{ title }}</div>
{% endif %}
{% for faq in faqs %}
    <div class="ui fluid accordion">
        {% include 'App/FAQ/item.html.twig' %}
    </div>
{% endfor %}
