
<div class="title flex justify-between">
    {{ faq.question }}
    <i class="angle down icon icon"></i>
</div>
<div class="content">
    <p class="transition hidden">{{ faq.answer|raw }}</p>
</div>
<div class="ui divider"></div>

