<nav class="px-2 py-2 d-flex justify-between align-center bg-white fixed wscreen-100 z-10 top-menu no-list">
    <a href="{{ path('sylius_shop_homepage') }}" class="d-flex align-center" title="Accueil">
        <img class="wr-4 hr-4 lg:ml-0 mr-2 d-inline-block" src="{{ asset('/build/core/images/logo.webp') }}">
        <div class="d-inline-block hidden logo-title uppercase">Un amour de perroquet</div>
    </a>
    <button class="navbar-burger ui icon basic button" data-action="click->layout--menu#open" title="Ouvrir le menu">
        <i class="list icon"></i>
    </button>
    <ul class="nav-items top-1/2 left-1/2 transform d-flex align-center w-auto space-x-6">
        <li><a class="nav-item relative" href="{{ path('app_shop_aboutus_index') }}">PRESENTATION</a></li>
        <li class="d-flex justify-center align-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a class="nav-item relative" href="{{ path('app_product_main_index') }}" title="Tous nos oiseaux">NOS OISEAUX</a></li>
        <li class="d-flex justify-center align-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a class="nav-item relative" href="{{ path('app_shop_article_index') }}" title="Articles et blog">ARTICLES</a></li>
        <li class="d-flex justify-center align-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a class="nav-item relative" href="#" title="Nous contacter">CONTACT</a></li>
        <li class="d-flex justify-center align-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li><a class="nav-item relative" href="{{ path('app_shop_faq_index') }}" title="Foire aux questions">FAQ</a></li>
    </ul>

    <ul class="nav-items d-flex align-center flex-end space-x-2">
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ path('sylius_shop_account_dashboard') }}" class="nav-item relative" title="{{ 'sylius.ui.my_account'|trans }}">{{ 'sylius.ui.my_account'|trans }}</a></li>
            <li class="d-flex justify-center align-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li><a href="{{ path('sylius_shop_logout') }}" class="sylius-logout-button nav-item relative" {{ sylius_test_html_attribute('logout-button') }} title="{{ 'sylius.ui.logout'|trans }}">{{ 'sylius.ui.logout'|trans }}</a></li>
        {% else %}
            <li><a href="{{ path('sylius_shop_login') }}" class="nav-item relative" title="{{ 'sylius.ui.login'|trans }}">{{ 'sylius.ui.login'|trans }}</a></li>
            <li class="d-flex justify-center align-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li><a href="{{ path('sylius_shop_register') }}" class="nav-item relative" title="{{ 'sylius.ui.register'|trans }}">{{ 'sylius.ui.register'|trans }}</a></li>
        {% endif %}
        <li class="text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="wr-1 hr-1 current-fill" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
            </svg>
        </li>
        <li class="hidden d-inline-block nav-item relative">
            <a href="{{ path('sylius_shop_cart_summary') }}" class="nav-item relative" title="Consulter mon panier" t>
                {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
            </a>
        </li>
    </ul>
</nav>
{# menu responsive#}
<div class="navbar-menu fixed z-10 hidden hscreen-100" data-layout--menu-target="menu">
    <div class="navbar-backdrop inset-0 bg-gray-800 opacity-25" data-action="click->layout--menu#close"></div>
    <nav class="fixed top-0 left-0 bottom-0 d-flex direction-column justify-between py-3 px-4 pt-1 bg-white">
        <div class="d-flex align-center justify-between mb-4">
            <a href="{{ path('sylius_shop_homepage') }}" class="mr-auto text-3xl font-bold leading-none" title="Accueil">
                <img class="wr-4 hr-4 d-inline-block" src="{{ asset('/build/core/images/logo.webp') }}">
            </a>
            <button class="navbar-close ui icon basic button" data-action="click->layout--menu#close" title="Fermer menu">
                <i class="close icon"></i>
            </button>
        </div>
        <div class="no-list">
            <ul class="d-flex direction-column text-center">
                <li class="my-2">
                    <a class="d-block" href="{{ path('sylius_shop_homepage') }}" title="Accueil">ACCUEIL</a>
                </li>
                <li class="my-2">
                    <a class="d-block" href="{{ path('app_shop_aboutus_index') }}" title="Présentation">PRESENTATION</a>
                </li>
                <li class="my-2">
                    <a class="d-block" href="{{ path('app_product_main_index') }}" title="Nos oiseaux">NOS OISEAUX</a>
                </li>
                <li class="my-2">
                    <a class="d-block" href="{{ path('app_shop_article_index') }}" title="Articles">ARTICLES</a>
                </li>
                <li class="my-2">
                    <a class="d-block" href="#" title="Contact">CONTACT</a>
                </li>
            </ul>
        </div>
        <div class="d-flex direction-column justify-center align-center">
            <div class="my-px-10">
                <a href="{{ path('sylius_shop_cart_summary') }}" class="d-block my-px-10 basic-btn align-center" title="Consulter mon panier">
                    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
                </a>
            </div>

            {% if is_granted('ROLE_USER') %}#}
                <a href="{{ path('sylius_shop_account_dashboard') }}" class="d-block my-px-10 important-btn align-center" title="Mon compte">{{ 'sylius.ui.my_account'|trans }}</a>
                <a href="{{ path('sylius_shop_logout') }}" class="d-block my-px-10 basic-btn align-center" {{ sylius_test_html_attribute('logout-button') }} title="Se déconnecter">{{ 'sylius.ui.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('sylius_shop_login') }}" class="d-block my-px-10 basic-btn align-center" title="Se connecter">{{ 'sylius.ui.login'|trans }}</a>
                <a href="{{ path('sylius_shop_register') }}" class="d-block my-px-10 important-btn align-center" title="S'inscrire">{{ 'sylius.ui.register'|trans }}</a>
            {% endif %}
        </div>
    </nav>
</div>
