{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        <div>{{ 'sylius.ui.summary_of_your_order'|trans }} #{{ order.number }}</div>
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item">
                    {{ order.checkoutCompletedAt|date }}
                </div>
                <div class="item">
                    {{ order.totalQuantity }} {{ 'sylius.ui.items'|trans|lower }}
                </div>
            </div>
        </div>
        <div>
            {% if order.isCartState() %}
                {{ 'app.ui.total_acompte'|trans }} :
                {{ money.convertAndFormat(order.totalAcompte) }}
            {% else %}
                {{ 'app.ui.total_solde'|trans }} :
                {{ money.convertAndFormat(order.totalRestant, order.currencyCode) }}
            {% endif %}
        </div>
    </div>
</h1>
