.article-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px !important;
    margin-top: 30px !important;

    .media-preview {
        margin-bottom: 10px;
        margin-top: 10px;
        height: 150px;
        width: 150px;
    }
}

.modal.images {

    .card {
        height: 150px;
        width: 150px;
        margin: 10px;
        &.selected {border: 2px solid greenyellow;}
        img {
            width: 100% !important;
            padding: 2px !important;
        }
    }
}
