.media-preview {
    display: flex;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 250px;

    img {height: 100%;}
    video {height: 100%;}
}

.input-file {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .labeled.button {
        margin-top: 15px;
    }
}

