@import "../colors";

.article {
    .article-header {
        .background {
            width: 100%;
            height: 40rem;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            z-index: 10;
            position: relative;
        }
    }

    &.page {
        .content {
            top: -20rem;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
            background-color: #FFFFFF;
            z-index: 20;
            position: relative;
            padding: 5rem;
            font-size: 1.1rem;

            .title {
                text-align: center;
                margin-bottom: 50px;
                font-size: 4rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $color2;
            }
        }

        @media (max-width: 1000px) {
            margin-left: 0;
            margin-right: 0;

            .article-header {
                .background {height: 20rem;}
            }
            .content {
                top: -15rem;
                padding: 2rem;
                background-color: transparent;
                .title {
                    background-color: #FFFFFF;
                    font-size: 2rem;
                    margin-bottom: 0;
                    height: 15rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.articles {
    .subtitle {margin-bottom: 2rem;}
}

.list-articles {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: repeat(auto-fill, 25vw);
    gap: 20px;
    width: 100%;
    .card {
        width: 100%;
        height: 500px;
        transition: all 0.5s ease-out;
        .image {
            height: 70%;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: auto;
            }
        }
        .content {
            height: 30%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .header {
                font-size: 1.3rem;
                text-transform: uppercase;
            }
            .date {font-style: italic;}
            .basic-btn{font-size: 1rem !important;}
        }
        &:hover {transform: translateY(-10px);}
    }

    @media (max-width: 1350px) {
        grid-template-columns: repeat(auto-fill, 38vw);
        .card {
            height: 350px;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(auto-fill, 80vw);
        .card {
            .content {font-size: 1rem;}
            font-size: 1rem;
            height: 300px;
        }
    }
}
