.bird-list {
    margin-top: 20vh;
    img {width: 500px;}
    @media (max-width: 768px) {
        margin-top: 10vh;
    }
    .bird-row {
        @media (max-width: 1024px) {
            img {width: 400px;}
        }
        @media (max-width: 900px) {
            justify-content: center;
            &:first-child { margin-bottom: 50px; }
            &:nth-child(odd) {
                flex-direction: column-reverse;

                &:not(:first-child, :last-child):before {
                    margin-top: 50px;
                    margin-bottom: 50px;
                    content: '';
                    background-color:  rgba(34, 36, 38, 0.15);
                    width: 50%;
                    height: 1px;
                }
            }
            &:nth-child(even) {
                flex-direction: column;
                &:not(:first-child, :last-child):after {
                    margin-top: 50px;
                    margin-bottom: 50px;
                    content: '';
                    background-color:  rgba(34, 36, 38, 0.15);
                    width: 50%;
                    height: 1px;
                }
            }
            .img-section {
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;
            }
            .text-section {
                justify-content: center;
                text-align: justify;
                width: 100%;
                font-size: 1.2rem;
            }
        }
        @media (max-width: 768px) {
            img {width: 250px;}
        }
    }
}
