@import "../colors";

footer , footer > * , .bottom-segment {
    background-color: $color3 !important;
    color: #FFFFFF !important;
    margin-top: 10rem !important;

    .column {
        border: none;
        box-shadow: none !important;
    }

    .item {
        color: #FFFFFF !important;
        padding: 7px 0 !important;
        &:hover {
            text-decoration: underline !important;
        }
    }

    .link {
        color: $color2 !important;
        &:hover {
            text-decoration: underline !important;
        }
    }
}
