.headband {
    max-width: 100vw;
    background-color: $color2;
    color: #FFFFFF;
    padding: 5px;

    .band {
        font-size: 4.5rem;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .extra-border {
        color: $color2;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #FFFFFF;
    }

    .colored { color: $color1 !important; }

    @media (max-width:768px) {
        .band {font-size: 1.8rem;}
        .extra-border { -webkit-text-stroke-width: 1px; }
    }
}
