@import "../colors";

body {color: $color4;}

.homepage{
    font-size: 1.5rem !important;
    line-height: 2.7rem;
    @media (max-width: 1024px) {
        font-size: 1rem;
        line-height: 2rem;
    }
}

.title {color: $color2;}


.about {
    min-height: 30vh;
    .content {
        margin-right: 25%;
        margin-left: 25%;
    }
    @media (max-width: 768px) {
        height: 70vh;
        .content {
            margin-right: 10vw;
            margin-left: 10vw;
            .text {font-size: 1rem;}
        }
    }
}

.pictures-band {
    margin-bottom: 125px;
    .picture {height: 150px;}
}

.videos {
    margin-top: 15rem;
    .subtitle {
        margin-bottom: 2rem;
    }
    .btn{
        width: 100%;
        margin-top: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

.articles {
    margin: 15rem 0 10rem 0;
    .grid {margin: 0 !important;}
    .article {
        height: 500px;
        img {object-fit: cover;}
    }
    .btn{
        width: 100%;
        margin-top: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}
