/*! purgecss start ignore */
.info-general {
    height: 90vh;
    width: 100vw !important;
    display: flex;
    justify-content: center;
    align-items: self-start;
    @media (max-width: 768px) {
        height: 70vh;
        top: 0;
        font-size: 1rem;
    }

    .content-info{
        top: 50%;
        left: 50%;
        width: 70%;
        transform: translateY(-50%) translateX(-50%);
        display: grid;
        grid-template-columns: 3fr 3fr;
        grid-template-rows: 150px 150px;
        div {
            animation-delay: 1s;
            animation-duration: 7s;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            span, i {
                font-size: 3rem;
                font-weight: bold;
                color: $color2;
                @media (max-width: 768px) {
                    font-size: 2rem;
                }
            }
            p {
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .image {
        display: inline-block;
        height: auto;
        opacity: 0;
        width: 100px;
        @media (max-width: 768px) {
            width: 50px;
        }
    }

    .animation {
        &:nth-child(even) {animation: falling-right 2s 0s ease;}
        &:nth-child(odd) {animation: falling-left 2s 0s ease;}
        @media (max-width: 768px) {
            &:nth-child(even)  {animation: falling-right-768 2s 0s ease;}
            &:nth-child(odd) {animation: falling-left-768 2s 0s ease;}
        }
    }
    $delays: ();
    $random-delay: 1;

    @for $i from 1 through 19 {
        // Génère un délai aléatoire entre 1s et 4s
        .image:nth-child(#{$i}) {
            @while index($delays, $random-delay){
                $random-delay:calc(random(40) / 10);
            }
            // Ajoute le délai à la liste
            $delays: append($delays, $random-delay);
            @if($random-delay < 1) {
                $random-delay: 1 + $random-delay;
            }

            animation-delay: $random-delay * 1s;
        }
    }
    .image:nth-of-type(n) { animation-timing-function:ease; animation-fill-mode: forwards;}

    @keyframes falling-right {
        0% {
            transform:
                translate3d(0,0,0)
                rotate(0deg);
        }
        40% {opacity: 0.5;}
        100% {
            transform:
                translate3d(0, 80vh, 0)
                rotate(-90deg);
            opacity: 0.9;
        }
    }
    @keyframes falling-left {
        0% {
            transform:
                translate3d(0,0,0)
                rotate(0deg);

        }
        40% {opacity: 0.5;}
        100% {
            transform:
                translate3d(0, 80vh, 0)
                rotate(90deg);
            opacity: 0.9;
        }
    }
    @keyframes falling-right-768 {
        0% {
            transform:
                translate3d(0,0,0)
                rotate(0deg);
        }
        40% {opacity:0.5}
        100% {
            transform:
                translate3d(0, 60vh, 0)
                rotate(90deg);
            opacity: 0.9;
        }
    }
    @keyframes falling-left-768 {
        0% {
            transform:
                translate3d(0,0,0)
                rotate(0deg);
        }
        40% {opacity: 0.5;}
        100% {
            transform:
                translate3d(0, 60vh, 0)
                rotate(-90deg);
            opacity: 0.9;
        }
    }
}
/*! purgecss end ignore */
