.list-media {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 20px;

    @media (max-width: 900px) {
        flex-direction: column;
        .card {
            height: 250px !important;
            width: 100% !important;
        }
    }
    @media (max-width: 300px) {
        flex-direction: column;
        .card {
            height: 200px !important;
            width: 100% !important;
        }
    }

    .card {
        height: 300px;
        width: 500px;
        transition: all 0.5s ease-out;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
        .image {
            position: relative;
            display: flex;
            object-fit: cover;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                transition: all 0.5s ease-out;
                z-index: 0;
            }

            &:hover::before {
                background-color: rgba(0, 0, 0, 0);
            }

            i {
                z-index: 20;
                outline-style: none;
                color: #FFFFFF;
            }

            .header {
                width: 100%;
                color: #FFFFFF;
                text-transform: uppercase;
                z-index: 10;
            }
        }

    }
}
