@import "../colors";

.top-menu {
    height: 5rem;
    .nav-item {
        text-transform: uppercase;

        &:after {
            display: block;
            position: absolute;
            background-color: $color3;
            width: 0;
            height: 2px;
            content: "";
        }
    }

    .nav-item:hover:after, .nav-item:active:after {
        width: 100%;
        -webkit-transition: all 0.60s;
        transition: all 0.60s;
    }

    .ui.cart.button {
        border: none!important;
        padding: 0 !important;
        background: none;
        color: $color3 !important;

        &:hover {
            background-color: transparent!important;
            color: $color3 !important;
        }
    }

    .navbar-burger {
        box-shadow: none !important;
        i {
            color: $color3 !important;
            font-size: 1.5rem;
        }
    }

    @media (max-width: 1500px) {
        .nav-items, .nav-item {display: none !important;}

    }

    @media (max-width: 1500px) {
        .navbar-burger {display: flex;}
    }

    @media (min-width: 1500px) {
        .navbar-burger {
            display:none !important;
        }
    }
}
