.presentation {
    overflow: hidden;
    .main-content {margin: 0 25% 0 25%;}
    .background-presentation {
        height: inherit;
        bottom: 0;

        img { width: 100vw; }
    }

    .main-title {
        padding-bottom: 10%;
        .title {
            font-size: 4rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .see-more {
        color: $color2;
        border: none;
        background-color: transparent;
        .icon {
            margin-top: 10px;
            font-size: 2rem;
        }
    }

    .main-container {position: relative;}

    @media (max-width: 1024px) {

        .main-content {margin: 0 20% 0 20%;}

        .main-title {
            .title {font-size: 3.5rem;}
            .description {font-size: 1.2rem;}
        }
    }

    @media (max-width: 768px) {

        img {transform: none !important;}

        .main-content {margin: 0 25% 0 25%;}

        .main-title {
            .title {font-size: 2rem;}
            .description {font-size: 1rem;}
        }
    }
}
