@import "../colors";
.section {
    .section {
        .title-section {
            font-size: 1.6rem;
            color: $color3;
            .position:after {
                content: '.';
            }
        }
    }
}
