@import "../colors";

.taxon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-bottom: 4rem;
    justify-content: space-between;

    @media (max-width: 1500px) {
        justify-content: center;
    }

    @media (max-width: 768px) {
        margin-bottom: 2rem;
        .basic-btn {
            font-size: 0.8rem !important;
        }
    }
}
