{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(order) %}
{% set taxIncluded = order.getTaxIncludedTotal() %}
{% set taxExcluded = order.getTaxExcludedTotal() %}
{% set totalAcompte = money.format(order.totalAcompte, sylius.currencyCode) %}
{% set itemsSubtotalAcompte = money.format(order.itemsSubtotalAcompte, sylius.currencyCode) %}
{% set totalRestant = money.format(order.totalRestant, sylius.currencyCode) %}
{% set totalItems = money.format(itemsSubtotal, sylius.currencyCode) %}
{% set total = money.format(order.total, sylius.currencyCode) %}
{% set isCart = order.isCartState() %}

<div class="ui segment summary">
    <table class="ui very basic table" id="sylius-checkout-subtotal" {{ sylius_test_html_attribute('checkout-subtotal') }}>
        <thead>
        <tr>
            <th class="sylius-table-column-item">{{ 'sylius.ui.item'|trans }}</th>
            <th class="sylius-table-column-qty">{{ 'sylius.ui.qty'|trans }}</th>
            <th class="sylius-table-column-subtotal">{{ 'sylius.ui.subtotal'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                <td>{{ item.getVariant.product.name }}</td>
                <td class="center aligned" {{ sylius_test_html_attribute('item-subtotal-quantity', item.variant.product.name) }}>
                    {{ item.quantity }}
                </td>
                <td class="right aligned" id="sylius-item-{{ item.variant.product.slug }}-subtotal" {{ sylius_test_html_attribute('item-subtotal', item.variant.product.slug) }}>
                    {% if order.isTotallyPaid %}
                        {{ money.format(item.total, sylius.currencyCode) }}
                    {% else %}
                        {% if isCart %}
                            {{ money.format(item.acompte, sylius.currencyCode) }}
                        {% else %}
                            {{ money.format(item.restant, sylius.currencyCode) }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1" style="border-top: 2px solid #ddd;">
                    <strong>{{ 'sylius.ui.items_total'|trans }}:</strong>
                </td>
                <td colspan="2" id="sylius-summary-items-subtotal" class="right aligned" style="border-top: 2px solid #ddd;">
                    {% if order.isTotallyPaid %}
                        {{ totalItems }}
                    {% else %}
                        {% if isCart %}
                            {{ itemsSubtotalAcompte }}
                        {% else %}
                            {{ totalRestant }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr {% if taxIncluded and not taxExcluded %}class="tax-disabled" {% endif %}>
                <td colspan="1">
                    <strong>{{ 'sylius.ui.taxes_total'|trans }}:</strong>
                </td>
                <td colspan="2" class="right aligned">
                    {% if not taxIncluded and not taxExcluded %}
                        <div id="sylius-summary-tax-none">{{ money.convertAndFormat(0) }}</div>
                    {% endif %}
                    {% if taxExcluded %}
                        <div id="sylius-summary-tax-excluded">{{ money.convertAndFormat(taxExcluded) }}</div>
                    {% endif %}
                    {% if taxIncluded %}
                        <div class="tax-disabled">
                            <span id="sylius-summary-tax-included">{{ money.convertAndFormat(taxIncluded) }}</span>
                            <div><small>({{ 'sylius.ui.included_in_price'|trans }})</small></div>
                        </div>
                    {% endif %}
                </td>
            </tr>

            {% if order.shipments is not empty and order.isTotallyPaid %}
                <tr>
                    <td colspan="1">
                        <strong>{{ 'sylius.ui.shipping_estimated_cost'|trans }}:</strong>
                    </td>
                    <td colspan="2" class="right aligned">
                        {% if order.getAdjustmentsTotal('shipping') > order.shippingTotal %}
                            <div class="old-price">{{ money.convertAndFormat(order.getAdjustmentsTotal('shipping')) }}</div>
                        {% endif %}
                        <span id="sylius-summary-shipping-total">{{ money.convertAndFormat(order.shippingTotal) }}</span>
                    </td>
                </tr>
            {% endif %}
            <tr class="ui large header">
                <td colspan="1">
                    <strong>{{ 'sylius.ui.order_total'|trans }}:</strong>
                </td>
                <td colspan="2" id="sylius-summary-grand-total" class="right aligned">
                    {% if order.isTotallyPaid %}
                        {{ total }}
                    {% else %}
                        {% if isCart %}
                            {{ totalAcompte }}
                        {% else %}
                            {{ totalRestant }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
