{% if order.channel.contactPhoneNumber %}
    <h2 class="ui center aligned icon header">
        <i class="circular phone icon"></i>
        {{ order.channel.contactPhoneNumber }}
        <span class="sub header">
            {{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}
        </span>
    </h2>
{% endif %}

<div class="ui center aligned basic segment">
    <i class="huge cc mastercard icon"></i>
    <i class="huge cc visa icon"></i>
</div>
