<div style="width: 100%; text-align: center;">
    <div class="ui input position" style="width: 80px;">
        <input type='number' value="{{ data.position }}" data-id="{{ data.id }}" class="input-position" style="text-align: center;" />
    </div>
</div>
