
{% if data.type is defined %}
    {% if data.type == 'image' %}
        <img src="{{ asset(data.path) }}" alt="" class="ui bordered image sylius-grid-image" />
    {% else %}
        <div class="ui labeled icon button" data-action="click->core--video#show" data-path="{{ asset(data.path) }}">Consulter la vidéo <i class="video icon"></i></div>
    {% endif %}
{% else %}
    {% set url = data.imageUrl ? asset(data.imageUrl) : null %}
    <img src="{{ url }}" alt="" class="ui bordered image sylius-grid-image" />
{% endif %}

