<div style="text-align: center; margin-bottom: 30px;">
    Votre demande de réservation
    <div style="margin: 10px 0;">
      <span style="border: 1px solid #eee; padding: 10px; color: #2F4550; font-size: 28px;">
        {{ order.number }}
      </span>
    </div>
    a bien été prise en compte.
</div>

{% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
    {% set url = sylius_channel_url(path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': localeCode}), channel) %}

    <div style="text-align: center; margin-bottom: 30px;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #2F4550; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
           Consulter ma réservation
        </a>
    </div>
{% endif %}

<div style="text-align: center;">
    Un amour de Perroquet vous remercie pour votre réservatino. Nous reviendrons vers vous très rapidement pour vous confirmer votre réservation.
</div>
