<div class="card" data-action="click->core--video#show" data-path="{{ asset(media.path) }}">
    {% set url = asset(video_image_url) %}
    <div class="ui image" style="background-image: url('{{ url }}')" >
        <i class=" huge play circle outline icon"></i>
        <div class="header">
            <strong>{{ media.title }}</strong>
        </div>
    </div>

</div>
