{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}Toutes les vidéo de l'élevage.{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% set hasNoContainer = true %}

{% block content %}
    <div class="main-videos main-page fit-content" data-controller="core--video">
        <div class="subtitle ">videos de l'élevage</div>
        {% include 'App/Media/_items.html.twig' %}
        {% include 'App/Media/modal/_modal.html.twig' %}
    </div>
{% endblock %}

