<a class="item active" data-tab="details">{{ 'app.ui.description'|trans }}</a>
{% if product.attributes|length > 0 %}
    <a class="item" data-tab="attributes" {{ sylius_test_html_attribute('tab', 'attributes') }}>{{ 'sylius.ui.details'|trans }}</a>
{% endif %}
