{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}{{ aboutus.metaDescription }}{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% set hasNoContainer = true %}
{%  set image = asset('/images/about_background2.jpg') %}

{% block content %}
    <div class="fit-content article page">
        <div class="article-header">
            <div class="background" style="background-image: url('{{ image }}')">
            </div>
        </div>
        <div class="content">
            <div class="title">{{ aboutus.title }}</div>
            <div class="html">
                {{ aboutus.description|raw }}
            </div>
        </div>
    </div>
{% endblock %}

