
{% set image2_max = asset('/build/core/images/grass/band2.webp') %}
{% set image2_min = asset('/build/core/images/grass/band2500.webp') %}
{% set image_max = asset('/build/core/images/grass/band.webp') %}
{% set image_min = asset('/build/core/images/grass/band500.webp') %}
<section class="about d-flex align-center relative all-height z-2" id="about">
    <div class="absolute top-0">
        <img src="{{ image_min }}"
             srcset="{{ image_min }} 500w, {{ image_max }} 1924w"
             sizes="(max-width: 768px) 500w, 1924w"
             class="masked-image wscreen-100 rotate-90" data-slow="slow" loading="lazy">
    </div>
    <div class="content d-flex justify-center uppercase">
        <span class="rotate-90 underline mr-2">A PROPOS</span>
        <div class="text">
            {{ homepage.about }}
        </div>
    </div>
    <div class="absolute bottom-band">
        <img   src="{{ image2_min }}"
               srcset="{{ image2_min }} 500w, {{ image2_max }} 1924w"
               sizes="(max-width: 768px) 500w, 1924w"
               class="wscreen-100 masked-image" data-slow="slow" loading="lazy">
    </div>
</section>
