<section class="articles">
    <div class="fit-content">
        <div class="subtitle">Pour aller plus loin</div>
        {% include 'App/Article/_items.html.twig' %}
        <div class="btn">
            <a href="{{ path('app_shop_article_index') }}" class="basic-btn">Voir plus</a>
        </div>
    </div>
</section>
