<section class="bird-list fit-content mt-20">
    <div class="bird-list-header d-flex justify-between align-center bird-row">
        <div class="subtitle uppercase">Quelques unes de nos especes les plus populaires</div>
        <div class="d-flex justify-end img-section">
            {% set src_max = asset('/build/core/images/tache1.webp') %}
            {% set src_min = asset('/build/core/images/tache1250.webp') %}
            <img src="{{ src_max }}" srcset="{{ src_min }} 250w, {{ src_max }} 500w"
                 sizes="(max-width: 768px) 250px, 500px"
                 class="masked-image"
                 loading="lazy">
        </div>
    </div>
    {% include 'bundles/SyliusShopBundle/Homepage/include/_bird_section.html.twig' with {
        'direction' : 'right',
        'src': '/build/core/images/watercolor/cacatoes_huppe_blanche',
        'espece': 'Le Cacatoes à huppe blanc',
        'text': '(CACATUA ALBA) est un grand cacatoès possédant une belle huppe et un plumage blanc éclatant.
        C’est un oiseau de volière qui appréciera le grand air : soleil, pluie…Il est bon de leur donner des petites branches à mâchouiller pour les occuper et éviter ainsi les phénomènes de picage.
        Cette espèce n’est pas trop onéreuse, elle est donc parfaite pour qui veut acquérir son premier couple de cacatoès.'
    } %}
    {% include 'bundles/SyliusShopBundle/Homepage/include/_bird_section.html.twig' with {'direction' : 'left', 'src': '/build/core/images/watercolor/ara_ararauna',
        'espece': 'Le Ara ararauna',
        'text': 'est le plus commun des grands aras, c’est un oiseau très populaire. Ses couleurs magnifiques le rendent très désirable.
        Il sera préférable de loger votre couple dans une volière de grande taille, vous les verrez ainsi voler.
        Toutefois certains couples préfèrent des installations plus petites, ils s’y sentent plus en sécurité..'
    } %}
    {% include 'bundles/SyliusShopBundle/Homepage/include/_bird_section.html.twig' with {'direction' : 'right', 'src': '/build/core/images/watercolor/cacatoes_rosalbin',
        'espece': 'Le cacatoes rosalbin',
        'text': "(EOLOPHUS ROSEICAPILUS) est le cacatoès le plus répandu et élevé en captivité. En Australie, il est considéré comme nuisible :
        il est très intelligent, donc s'adapte vite au milieu, et détruit les cultures des fermiers.
        En captivité, c'est un amour ! De plus il est peu bruyant, ce qui le rend très indiqué en appartement."
    } %}
    {% include 'bundles/SyliusShopBundle/Homepage/include/_bird_section.html.twig' with {'direction' : 'left', 'src': '/build/core/images/watercolor/amazone_front_bleu',
        'espece': "l'amazone à front bleu",
        'text': '(AMAZONA AESTIVA) est la plus répandue des amazones ; tous les individus n’ont pas la même couleur à la tête. A la maison, il apprendra vite à répéter « bonjour » quand il verra vos invités arriver…'
    } %}
    {% include 'bundles/SyliusShopBundle/Homepage/include/_bird_section.html.twig' with {'direction' : 'right', 'src': '/build/core/images/watercolor/amazone_nuque_jaune',
        'espece': "l'amazone à nuque jaune",
        'text': '(AMAZONA AUROPALLIATA AUROPALLIATA) est une amazone de grande taille, à la nuque jaune d’or,
        c’est un oiseau au fort tempérament. Selon les sujets, le jaune est plus ou moins étendu.
        Les oiseaux reproducteurs peuvent devenir très agressifs envers l’éleveur : il conviendra d’être prudent lors du nettoyage de la volière ou à l’approche du nichoir.
        A part cela ce sont des perroquets très démonstratifs qui adorent pavaner : ailes écartées, queue étalée et iris dilatés : magnifiques !'
    } %}
    {% include 'bundles/SyliusShopBundle/Homepage/include/_bird_section.html.twig' with {'direction' : 'left', 'src': '/build/core/images/watercolor/gris_gabon',
        'espece': 'Le gris du Gabon',
        'text': '(PSITTACHUS E. ERITHACUS) est sans doute le perroquet le plus connu,
        surnommé aussi Jacot, c’est un oiseau peu bruyant, et doué pour reproduire la parole humaine.'
    } %}
    <div class="d-flex justify-center mt-4">
        <a class="basic-btn nav-link " href="{{ path('app_product_main_index') }}">Découvir tous nos oiseaux</a>
    </div>
</section>
