<section class="info-general relative" data-controller="core--feather-animation">
        <img src="{{ asset('/build/core/images/feathers/plume20.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume1.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume2.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume3.webp') }}" class="image" loading="lazy">
{#        <img src="{{ asset('/build/core/images/feathers/plume4.webp') }}" class="image" loading="lazy">#}
        <img src="{{ asset('/build/core/images/feathers/plume5.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume6.webp') }}" class="image" loading="lazy">
{#        <img src="{{ asset('/build/core/images/feathers/plume7.webp') }}" class="image" loading="lazy">#}
        <img src="{{ asset('/build/core/images/feathers/plume8.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume9.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume10.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume11.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume13.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume14.webp') }}" class="image" loading="lazy">
{#        <img src="{{ asset('/build/core/images/feathers/plume15.webp') }}" class="image" loading="lazy">#}
        <img src="{{ asset('/build/core/images/feathers/plume16.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume17.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume18.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume19.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume20.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume21.webp') }}" class="image" loading="lazy">
        <img src="{{ asset('/build/core/images/feathers/plume9.webp') }}" class="image" loading="lazy">

    <div class="content-info absolute">
        <div class="masked-image"><span>60</span><p>Espèces reproduites</p></div>
        <div class="masked-image"><i class="ui icon child"></i><p>Des oiseaux élevés à la main avec patience</p></div>
        <div class="masked-image"><i class="ui icon shipping fast"></i><p>Livrable partout dans le monde</p></div>
        <div class="masked-image"><i class="ui icon heart"></i><p>Une équipe passionnée</p></div>
    </div>
</section>
