<section class="pictures-band w-screen flex flex-row w-screen ">
    <img src="{{ asset('/images/picture1.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture2.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture3.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture4.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture1.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture1.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture2.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture3.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture4.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture1.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture2.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture3.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture4.jpeg') }}" class="picture">
    <img src="{{ asset('/images/picture1.jpeg') }}" class="picture">
</section>
