<section class="presentation all-height text-center d-flex direction-column justify-center relative wscreen-100">
    <div class="d-flex direction-row justify-center z-5 main-content">
        <div class="d-flex direction-column justify-center text-center main-title" data-core--parallax-target="parallax" data-value="2">
            <h1 class="mb-2 title">{{ homepage.title }}<br /></h1>
            <div class="mb-2 description">{{ homepage.mainDescription }}</div>
            <div class="d-flex justify-center">
                <a class="nav-link important-btn"
                   href="{{ path('app_product_main_index') }}">Je réserve
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
            <div>
                <button class="mt-3 align-center see-more" data-controller="layout--scroll" data-action="click->layout--scroll#scrollToAnchor" data-anchor="about">
                    <div class="">En savoir plus</div>
                    <div><i class="arrow alternate circle down icon cursor-pointer"></i></div>
                </button>
            </div>
        </div>
    </div>
    <div class="background-presentation absolute z-2">
        {% set src_max = asset('/build/core/images/base_presentation' ~ '_1920.webp') %}
        {% set src_med = asset('/build/core/images/base_presentation' ~ '_1024.webp') %}
        {% set src_min = asset('/build/core/images/base_presentation' ~ '_768.webp') %}
{#        <img src="{{ src_max }}"  srcset="{{ src_min }} 768w, {{ src_med }} 1024w, {{ src_max }} 1920w"#}
{#             sizes="(max-width: 768px) 768w, (max-width: 1024) 1024w,  1920w" class="masked-image"> #}
        <img src="{{ asset('/images/accueil/base_01.webp') }}"  class="masked-image absolute bottom-0 z-1" data-core--parallax-target="parallax" data-value="4">
        <img src="{{ asset('/images/accueil/base_02.webp') }}"  class="masked-image absolute bottom-0 z-2" data-core--parallax-target="parallax" data-value="3">
        <img src="{{ asset('/images/accueil/base_03.webp') }}"  class="masked-image absolute bottom-0 z-3" data-core--parallax-target="parallax" data-value="2">
        <img src="{{ asset('/images/accueil/base_04.webp') }}"  class="masked-image absolute bottom-0 z-4" data-core--parallax-target="parallax" data-value="1">
    </div>
</section>
