{% if medias|length > 0 %}
    <section class="videos" data-controller="core--video">
        <div class="subtitle fit-content">Consultez nos vidéos pour en apprendre plus</div>
        {% include 'App/Media/_items.html.twig' %}
        <div class="btn">
            <a href="{{ path('app_shop_videos_index') }}" class="basic-btn">Voir plus</a>
        </div>
        {% include 'App/Media/modal/_modal.html.twig' %}
    </section>
{% endif %}
