<table class="ui celled table" id="sylius-order" {{ sylius_test_html_attribute('order-table') }}>
    <thead>
        <tr>
            <th class="sylius-table-column-item">{{ 'sylius.ui.item'|trans }}</th>
            <th class="sylius-table-column-price">{{ 'sylius.ui.unit_price'|trans }}</th>
            <th class="sylius-table-column-price">Acompte</th>
            <th class="sylius-table-column-qty">{{ 'sylius.ui.qty'|trans }}</th>
            <th class="sylius-table-column-subtotal right aligned">{{ 'sylius.ui.subtotal'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
            {% include '@SyliusShop/Common/Order/Table/_item.html.twig' %}
        {% endfor %}
    </tbody>
    <tfoot>
        {% include '@SyliusShop/Common/Order/Table/_totals.html.twig' %}
    </tfoot>
</table>
