<div class="ui two column grid">
    <div class="column">
        <a href="{{ path('sylius_shop_homepage') }}" class="basic-btn" title="{{ 'sylius.ui.back_to_store'|trans }}"><i class="arrow left icon"></i> {{ 'sylius.ui.back_to_store'|trans }}</a>
    </div>
    <div class="right aligned column">
        <button type="submit" id="next-step" class="important-btn" title="{{ 'sylius.ui.next'|trans }}" {{ sylius_test_html_attribute('next-step') }}>
            <i class="arrow right icon"></i> {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
