{% if product.imagesByType('main') is not empty %}
    {% set source_path = product.imagesByType('main').first.path %}
    {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
    {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_original')) %}
{% elseif product.images.first %}
    {% set source_path = product.images.first.path %}
    {% set original_path = source_path|imagine_filter('sylius_shop_product_original') %}
    {% set path = source_path|imagine_filter(filter|default('sylius_shop_product_original')) %}
{% else %}
    {% if use_webpack %}
        {% set original_path = asset(product_image_url) %}
    {% else %}
        {% set original_path = asset(product_image_url) %}
    {% endif %}
    {% set path = original_path %}
{% endif %}

<div data-product-image="{{ path }}" data-product-link="{{ original_path }}"></div>
<a href="{{ original_path }}" class="main-image" data-lightbox="sylius-product-image">
    <img src="{{ path }}" id="main-image" alt="{{ product.name }}" {{ sylius_test_html_attribute('main-image') }} />
</a>
{% if product.images|length > 1 %}
<div class="ui divider"></div>

{{ sylius_template_event('sylius.shop.product.show.before_thumbnails', {'product': product}) }}

<div class="ui small images">
    {% for image in product.images %}
        {% if use_webpack %}
            {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_small_thumbnail') : asset('build/shop/images/200x200.png') %}
        {% else %}
            {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_small_thumbnail') : asset('assets/shop/img/200x200.png') %}
        {% endif %}
        <div class="ui image">
        {% if product.isConfigurable() and product.enabledVariants|length > 0 %}
            {% include '@SyliusShop/Product/Show/_imageVariants.html.twig' %}
        {% endif %}
            <a href="{{ image.path|imagine_filter('sylius_shop_product_original') }}" data-lightbox="sylius-product-image">
                <img src="{{ path }}" data-large-thumbnail="{{ image.path|imagine_filter('sylius_shop_product_original') }}" alt="{{ product.name }}" />
            </a>
        </div>
    {% endfor %}
</div>
{% endif %}
