{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set variant = product|sylius_resolve_variant %}
{% set hasDiscount = variant|sylius_has_discount({'channel': sylius.channel}) %}

<div>
    <div class="ui huge header" id="product-price" {{ sylius_test_html_attribute('product-price', money.calculatePrice(variant)) }}>
        {{ money.calculatePrice(variant) }}
    </div>
    <div class=""{{ sylius_test_html_attribute('product-original-price', money.calculateOriginalPrice(variant)) }}>
        Dont {{ money.format(variant|getAcompte({'channel': sylius.channel}), sylius.currencyCode) }} d'acompte.
    </div>
</div>
