{% set variant = product|sylius_resolve_variant %}


<div class="price-widget" {{ sylius_test_html_attribute('product-price-content') }}>
        {% if not product.enabledVariants.empty() %}
            {% include '@SyliusShop/Product/Show/_price.html.twig' %}
        {% endif %}
</div>
