{% if product.isDisponibleSoon() %}
    <div class="ui icon info message">
        <i class=" info icon"></i>
        <div class="content">
            {{ product.disponibility }} {{ product.disponibilityMonth|upper }} {{ product.disponibilityYear }}
        </div>
    </div>
{% endif %}
{% if product.isMAndatoryDeclaration %}
    <div>
        <i class="warning icon" title="Cette espèce doit faire l'objet d'une déclaration obligatoire"></i>
        <span>Doit faire l'objet d'une déclaration obligatoire. Plus de détails <a href="{{ path('app_legislation_index') }}" class="underline">ici</a>.</span>
    </div>
{% endif %}
<div class="short-description">
    {{ product.shortDescription }}
</div>
