<div class="variant-options">
    {% if product.isDisponible() or product.isDisponibleSoon() %}
        <div class="ui hidden divider"></div>
        {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.enabledVariants.empty() %}
            {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel), 'variants': product.enabledVariants} %}
        {% endif %}

        {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

        <div class="ui hidden divider"></div>

    {% else %}
        <div class="ui icon info message">
            <i class="lock icon"></i>
            <div class="content">
                <p>
                    Oups, cet adorable perroquet n'est actuellement plus disponible à la réservation, mais ne vous inquiétez pas, il sera de retour très bientôt !
                </p>
            </div>
        </div>
    {% endif %}
</div>

