<div class="four wide column">
    <h4 class="ui inverted header">Espèces</h4>
    <div class="ui list">
        {{ render(url('app_shop_categories_footer', {'template': '@SyliusShop/Taxon/_vertical_footer.html.twig'})) }}
    </div>
</div>
