<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.customer_care'|trans  }}</h4>
    <div class="ui list">
        <a href="{{ path('sylius_shop_contact_request') }}" class="item">{{ 'sylius.ui.contact_us'|trans  }}</a>
        <a href="{{ path('app_shop_faq_index') }}" class="item">{{ 'sylius.ui.faqs'|trans  }}</a>
        <a href="#" class="item">{{ 'sylius.ui.delivery_and_shipping'|trans  }}</a>
        <a href="#" class="item">{{ 'sylius.ui.returns_policy'|trans  }}</a>
    </div>
</div>
