<div class="four wide column">
    <h4 class="ui inverted header">{{ 'app.ui.info_legal'|trans }}</h4>
    <div class="ui list">
        <a href="{{ path('app_shop_cgv_index') }}" class="item">{{ 'sylius.ui.terms_and_conditions'|trans }}</a>
        <a href="{{ path('app_shop_cc_index') }}" class="item">{{ 'sylius.ui.privacy_policy'|trans }}</a>
        <a href="{{ path('app_shop_ml_index') }}" class="item">{{ 'app.ui.mls'|trans }}</a>
    </div>
</div>
