<div class="four wide column">
    <h4 class="ui inverted header">Le site</h4>
    <div class="ui list">
        <a href="{{ path('app_shop_aboutus_index') }}" class="item">A propos de l'élevage</a>
        <a href="{{ path('app_shop_article_index') }}" class="item">Nos articles et blog</a>
        <a href="{{ path('app_product_main_index') }}" class="item">Nos oiseaux</a>
        <a href="{{ path('app_shop_videos_index') }}" class="item">Vidéos de l'élevage</a>
        <a href="{{ path('app_legislation_index') }}" class="item">Réglementation</a>
    </div>
</div>
