{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(order) %}
{% set taxIncluded = order.getTaxIncludedTotal() %}
{% set taxExcluded = order.getTaxExcludedTotal() %}

{% set totalAcompte = money.format(order.totalAcompte, sylius.currencyCode) %}
{% set itemsSubtotalAcompte = money.format(order.itemsSubtotalAcompte, sylius.currencyCode) %}
{% set totalRestant = money.format(order.totalRestant, sylius.currencyCode) %}
{% set total = money.format(order.total, sylius.currencyCode) %}

{% set orderPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set orderPromotions = sylius_aggregate_adjustments(order.adjustmentsRecursively(orderPromotionAdjustment)) %}

<tr>
    <td colspan="5" class="right aligned" id="total" {{ sylius_test_html_attribute('order-total') }}>
        <div style="font-size: 1.5em; font-weight: 700;" id="total" {{ sylius_test_html_attribute('order-total') }}>
            {{ 'app.ui.total_order'|trans }}:
            {{ total }}
        </div>

        {% if order.shipments is not empty %}
            <div>
                {{ 'app.ui.shipping_cost'|trans }}:
                    {% if order.getAdjustmentsTotal('shipping') > order.shippingTotal %}
                        <span class="old-price">{{ money.convertAndFormat(order.getAdjustmentsTotal('shipping')) }}</span>
                    {% endif %}
                    <span id="sylius-cart-shipping-total" {{ sylius_test_html_attribute('cart-shipping-total') }}>{{ money.convertAndFormat(order.shippingTotal) }}</span>
            </div>
        {% endif %}

        <div style="display: flex; justify-content: flex-end; align-items: center">
            {% if taxIncluded and not taxExcluded %} class="tax-disabled"{% endif %}
                <div>{{ 'sylius.ui.taxes_total'|trans }}:&nbsp;</div>
                <div data-test="tax-total" {{ sylius_test_html_attribute('tax-total') }}>
                    {% if not taxIncluded and not taxExcluded %}
                        <div id="sylius-cart-tax-none">{{ money.convertAndFormat(0) }}</div>
                    {% endif %}
                    {% if taxExcluded %}
                        <div id="sylius-cart-tax-excluded">{{ money.convertAndFormat(taxExcluded) }}</div>
                    {% endif %}
                    {% if taxIncluded %}
                        <div class="tax-disabled">
                            <small>({{ 'sylius.ui.included_in_price'|trans }})</small>
                            <span id="sylius-cart-tax-included">{{ money.convertAndFormat(taxIncluded) }}</span>
                        </div>
                    {% endif %}
                </div>
        </div>
    </td>
</tr>

{% if not order.isTotallyPaid %}
    <tr>
        <td colspan="5" class="right aligned" id="total" style="font-size: 1.5em; font-weight: 700;" >
            {{ 'app.ui.total_acompte'|trans }}: {{ totalAcompte }}
        </td>
    </tr>
{% endif %}

{% if (order.isCartState() or order.isPartiallyPaid()) and not order.isTotallyPaid %}
    <tr>
        <td colspan="5" class="right aligned"  id="restant" {{ sylius_test_html_attribute('subtotal') }}>
            {{ 'app.ui.solde_to_pay_info'|trans }}: {{ totalRestant }}
        </td>
    </tr>
{% endif %}

