{% extends '@SyliusUi/Form/theme.html.twig' %}

{% block _sylius_product_attribute_configuration_choices_entry_widget %}
    {% import '@SyliusUi/Macro/flags.html.twig' as flags %}

    <div class="ui styled fluid accordion">
        {% for translation in form %}
            <div data-locale="{{ translation.vars.name }}">
                <div class="title{% if loop.first %} active{% endif %}">
                    <i class="dropdown icon"></i>
                    {{ flags.fromLocaleCode(translation.vars.name) }} {{ translation.vars.name|sylius_locale_name }}
                </div>
                <div class="ui content{% if loop.first %} active{% endif %}">
                    {{ form_widget(translation) }}
                    {{- form_errors(form) -}}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block sylius_taxon_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('sylius_admin_ajax_taxon_by_name_phrase'), 'load_edit_url': path('sylius_admin_ajax_taxon_by_code')}) }}
{% endblock %}

{% block sylius_product_option_autocomplete_choice_row %}
    {{ form_row(form, {'remote_url': path('sylius_admin_ajax_product_options_by_phrase'), 'load_edit_url': path('sylius_admin_ajax_find_product_options')}) }}
{% endblock %}


{% block sylius_channel_collection_widget %}
    {% set channelsErrorCount = form.vars.channels_errors_count %}
    <div class="ui top attached tabular menu">
        {% for channelCode, channelForm in form %}
            {% set channelErrorCount = channelsErrorCount[channelCode] ?? 0 %}
            <a class="item{% if loop.first %} active{% endif %}" data-tab="{{ channelForm.vars.full_name }}">
                {{ channelForm.vars.label }}
                {% if channelErrorCount > 0 %}
                    <span class="ui small horizontal circular label" style="background-color: #DB2828">{{ channelErrorCount }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
    {% for channelCode, channelForm in form %}
        <div class="ui bottom attached tab segment{% if loop.first %} active{% endif %}" data-tab="{{ channelForm.vars.full_name }}">
            {{ form_row(channelForm, {'label': false}) }}
        </div>
    {% endfor %}
{% endblock %}

{% block app_media_widget %}
    <div data-controller="admin--file">
        {{ form_row(form.title, { 'attr': { 'data-action' : 'input->admin--file#check', 'data-admin--file-target' : 'input'}}) }}
        {% set url = form.vars.value.path is not null ? asset(form.vars.value.path) : "" %}
        <div class="input-file">
            <div class="media-preview" data-admin--file-target="preview">
                <img class="ui image" data-admin--file-target="image" src="{{ url }}" style="height: 100%;{% if form.vars.value.type == 'image' %}display: block;{% else %}display: none;{% endif %}"/>
                <video width="400" controls preload style="{% if form.vars.value.type == 'video' %}display: block;{% else %}display: none;{% endif %}" data-admin--file-target="video">
                    <source src="{{ url }}" type="video/WebM">
                    <source src="{{ url }}" type="video/mov">
                    <source src="{{ url }}" type="video/mkv">
                    <source src="{{ url }}" type="video/flv">
                    <source src="{{ url }}" type="video/avchd">
                    <source src="{{ url }}" type="video/avi">
                </video>
            </div>
            <div class="ui hidden element">
                {{ form_widget(form.uploadedFile, {'attr' : {'data-action' : 'input->admin--file#change'}}) }}
            </div>
            <label for="{{ form.uploadedFile.vars.id }}" class="ui icon labeled button"><i class="cloud upload icon"></i> {{ 'sylius.ui.choose_file'|trans }}</label>
        </div>
        <div class="ui element">
            {{- form_errors(form.uploadedFile) -}}
        </div>
        {{ form_rest(form) }}
    </div>
{% endblock %}

{% block app_article_widget %}
    <div data-controller="admin--image" data-admin--image-url-value="{{ path('app_admin_ajax_media_list_images') }}">
        {{ form_row(form.title) }}
        {% set url = form.vars.value.imageUrl is not null ? asset(form.vars.value.imageUrl) : "" %}
        <div class="article-image required field">
            <label class="required">Image de présentation</label>
            <div class="media-preview" data-admin--image-target="preview">
                <img class="ui image" data-admin--image-target="image" src="{{ url }}" style="height: 100%;"/>
            </div>
            <div class="ui labeled icon button" data-action="click->admin--image#show"><i class="image outline icon"></i>Sélectionner une image</div>
            <div class="ui hidden element">
                {{ form_widget(form.imageUrl, {'attr' : {'data-admin--imag-target' : 'inputImage'}}) }}
            </div>
        </div>
        <div class="ui element">
            {{- form_errors(form.content) -}}
        </div>
        {{ form_rest(form) }}
        {% include 'App/Media/modal/_images_modal.html.twig' %}
    </div>
{% endblock %}


{% block _app_mail_uploadedFiles_widget %}
    {% set files = form.parent.vars.value.files %}
    <div data-controller="admin--fileMail" class="ui segment">
        <div class="ui hidden element">
            {{ form_widget(form, { 'attr' : { 'data-action' : 'input->admin--fileMail#change'}}) }}
        </div>
        <div class="ui relaxed divided list">
            {% for file in files %}
                <div class="item">
                    <i class="file icon"></i>
                    <div class="content">
                        <a class="header" href="{{ path('app_download_file', {'filename': file}) }}" target="_blank" title="Afficher le fichier">{{ file_extract_name(file) }}</a>
                    </div>
                    <div class="right floated content">
                        <div class="ui icon button"
                             data-url="{{ path('app_mail_delete_file') }}"
                             data-filename="{{ file }}"
                             data-id="{{ form.parent.vars.value.id }}"
                             data-action="click->admin--fileMail#delete"
                             title="Supprimer le fichier">
                            <i class="trash icon"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="ui button labeled icon" data-action="click->admin--fileMail#upload"><i class="download icon"></i>Choisir des fichiers</div>
        <div class="ui mini horizontal divided list" data-admin--fileMail-target="uploadFileList">
        </div>
        <div class=" ui hidden element" data-admin--fileMail-target="uploadFileItem">
            <div class="item">
                <i class="file icon"></i>
                <div class="content">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block _app_mail_content_row %}
   {{ form_row(form) }}
    <div class="ui hidden element" id="variables-data" data-variables="{{ get_variables() }}"></div>
{% endblock %}
