{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set locale = product.translation.locale %}
{% set slug = product.translation.slug %}

<div class="card product-card" {{ sylius_test_html_attribute('product') }}>
    {% if product.isMandatoryDeclaration() %}
        <i class="star icon" title="Cette espèce doit faire l'objet d'une déclaration obligatoire"></i>
    {% endif %}
    <a href="{{ path('sylius_shop_product_show', {'slug': slug, '_locale': locale}) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
    </a>
    <div class="disponibility {% if product.isDisponible() %}disponible{% elseif product.isDisponibleSoon() %}disponibleSoon{% else %}indisponible{% endif %}">
        {{ product.disponibility }} {{ product.disponibilityMonth|upper }} {{ product.disponibilityYear}}</div>
    <div class="content d-flex direction-column" {{ sylius_test_html_attribute('product-content') }}>
        <a href="{{ path('sylius_shop_product_show', {'slug': slug, '_locale': locale}) }}" class="header sylius-product-name" {{ sylius_test_html_attribute('product-name', product.name) }}>{{ product.name }}</a>

        {% if not product.enabledVariants.empty() %}
            {% set variant = product|sylius_resolve_variant %}
            {% set price = money.calculatePrice(variant) %}
            {% set originalPrice = money.calculateOriginalPrice(variant) %}

            {% if variant|sylius_has_discount({'channel': sylius.channel}) %}
                <div class="sylius-product-original-price" {{ sylius_test_html_attribute('product-original-price') }}><del>{{ originalPrice }}</del></div>
            {% endif %}
            <div class="sylius-product-price" {{ sylius_test_html_attribute('product-price') }}>{{ price }}</div>
        {% endif %}
    </div>
</div>
