{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}Tous nos oiseaux disponibles à la réservation{% endblock %}

{% block bodyClasses %}main-product fit-content mt-10{% endblock %}

{% set hasNoContainer = true %}
{% block content %}
{#        <div class="subtitle">#}
{#            Nos oiseaux#}
{#        </div>#}
    <div class="faq">
        {% include 'App/FAQ/items.html.twig' with { 'title' : 'A lire avant de réserver'}%}
    </div>
{#        <div class="text-center" data-controller="layout--scroll">#}
{#            D'autres questions sur la réservation? Consultez notre <span class="cursor-pointer font-bold underline" data-anchor="faq" data-action="click->layout--scroll#scrollToAnchor">FAQ</span>.#}
{#        </div>#}
    {{ render(url('sylius_shop_partial_channel_menu_taxon_index', {'category': category, 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}
    <div>
        <i class="star icon" title="Cette espèce doit faire l'objet d'une déclaration obligatoire"></i>
        <span>Espèces devant faire l'objet d'une déclaration obligatoire. Vous trouverez les détails <a href="{{ path('app_legislation_index') }}" class="underline">ici</a>.</span>
    </div>
    <div class="product-list">
        {{ render(url('app_shop_partial_product_index_by_on_hand', {'category': category, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}
    </div>
{% endblock %}
