{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ product.name }} | {{ parent() }}{% endblock %}

{% block metaDescription %}{{ product.metaDescription }}{% endblock %}

{% block bodyClasses %}product-detail extra-fit-content{% endblock %}

{% set hasNoContainer = true %}

{% block content %}
<div class="ui hidden divider"></div>

<div class="ui two column grid">
    <div class="column">
        {{ sylius_template_event('sylius.shop.product.show.left_sidebar', _context) }}
    </div>
    <div class="column" {{ sylius_test_html_attribute('product-box') }}>
        {{ sylius_template_event('sylius.shop.product.show.right_sidebar', _context) }}
    </div>
</div>

{{ sylius_template_event('sylius.shop.product.show.content', _context) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">
    lightbox.option({
        'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'
    });
</script>
{% endblock %}
