<button
    type="submit"
    name="submit-type"
    value="checkout"
    class="fluid important-btn"
    form="sylius_cart"
    formaction="{{ path('sylius_shop_cart_checkout') }}"
    formmethod="post"
    title="Réserver"
    {{ sylius_test_html_attribute('cart-checkout-button') }}
>
    <i class="check icon"></i>
    {% if cart.isCartState() %}
    {{ 'app.ui.booking'|trans }}
    {% else %}
        {{ 'sylius.ui.checkout'|trans }}
    {% endif %}
</button>
