{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="ui hidden divider"></div>
<div class="ui two column stackable grid">
    <div class="column">
        {{ headers.default(header|trans, 'cart', 'sylius.ui.edit_your_items_apply_coupon_or_proceed_to_the_checkout'|trans) }}
    </div>
</div>
