<div class="ui segment">
    {{ sylius_template_event('sylius.shop.cart.summary.items', {'cart': cart, 'form': form}) }}

    <table id="sylius-cart-items" {{ sylius_test_html_attribute('cart-items') }} class="ui very basic celled table items">
        <thead>
        <tr>
            <th>{{ 'sylius.ui.item'|trans }}</th>
            <th>{{ 'sylius.ui.qty'|trans }}</th>
            <th>Total acompte</th>
            <th>{{ 'sylius.ui.total'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for key, item in cart.items %}
            {% include '@SyliusShop/Cart/Summary/_item.html.twig' with {'item': item, 'form': form.items[key], 'main_form': form.vars.id, 'loop_index': loop.index} %}
        {% endfor %}
        </tbody>
    </table>
    <div class="ui hidden divider"></div>
    <div>
        {% include '@SyliusShop/Cart/Summary/_update.html.twig' with {'main_form': form.vars.id} %}
        <div class="d-inline-block">
            <form method="post" action="{{ path('sylius_shop_cart_clear') }}" >
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token(cart.id) }}" />
                <button type="submit" id="sylius-cart-clear" {{ sylius_test_html_attribute('cart-clear-button') }} class="ui icon labeled basic red button" title="Vider le panier">
                    <i class="icon remove"></i> {{ 'sylius.ui.clear_cart'|trans }}
                </button>
            </form>
        </div>
    </div>
</div>
