{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(cart) %}
{% set taxIncluded = cart.getTaxIncludedTotal() %}
{% set taxExcluded = cart.getTaxExcludedTotal() %}
{% set totalAcompte = money.format(cart.totalAcompte, sylius.currencyCode) %}
{% set itemsSubtotalAcompte = money.format(cart.itemsSubtotalAcompte, sylius.currencyCode) %}
{% set totalRestant = money.format(cart.totalRestant, sylius.currencyCode) %}
{% set total = money.format(cart.total, sylius.currencyCode) %}
{% set isCart = cart.isCartState() %}

<div class="ui segment totals">
    <h2 class="ui dividing header">Totaux</h2>

    {{ sylius_template_event('sylius.shop.cart.summary.totals', {'cart': cart}) }}

    <table class="ui very basic table">
        <tbody>
        <tr>
            <td>
                <div>Total acompte:</div>
            </td>
            <td class="right aligned">{{ totalAcompte }}</td>
        </tr>
        {% if not isCart %}
            {% if cart.shipments is not empty %}
                <tr>
                    <td>{{ 'sylius.ui.shipping_estimated_cost'|trans }}:</td>
                    <td class="right aligned">
                        {% if cart.getAdjustmentsTotal('shipping') > cart.shippingTotal %}
                            <span class="old-price">{{ money.convertAndFormat(cart.getAdjustmentsTotal('shipping')) }}</span>
                        {% endif %}
                        <span id="sylius-cart-shipping-total" {{ sylius_test_html_attribute('cart-shipping-total') }}>{{ money.convertAndFormat(cart.shippingTotal) }}</span>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr {% if taxIncluded and not taxExcluded %}class="tax-disabled"{% endif %}>
            <td>{{ 'sylius.ui.taxes_total'|trans }}:</td>
            <td class="right aligned">
                {% if not taxIncluded and not taxExcluded %}
                    <div id="sylius-cart-tax-none" {{ sylius_test_html_attribute('cart-no-tax') }}>{{ money.convertAndFormat(0) }}</div>
                {% endif %}
                {% if taxExcluded %}
                    <div id="sylius-cart-tax-excluded" {{ sylius_test_html_attribute('cart-tax-exluded') }}>{{ money.convertAndFormat(taxExcluded) }}</div>
                {% endif %}
                {% if taxIncluded %}
                    <div class="tax-disabled">
                        <small>({{ 'sylius.ui.included_in_price'|trans }})</small>
                        <span id="sylius-cart-tax-included" {{ sylius_test_html_attribute('cart-tax-included') }}>{{ money.convertAndFormat(taxIncluded) }}</span>
                    </div>
                {% endif %}
            </td>
        </tr>
        <tr class="ui header">
            {% if isCart %}
                <td>Total réservation:</td>
                <td id="sylius-cart-base-grand-total" {{ sylius_test_html_attribute('cart-base-grand-total') }} class="right aligned">{{ money.convertAndFormat(itemsSubtotal) }}</td>
            {% else %}
                <td>{{ 'sylius.ui.base_currency_order_total'|trans }}:</td>
                <td id="sylius-cart-base-grand-total" {{ sylius_test_html_attribute('cart-base-grand-total') }} class="right aligned">{{ totalRestant }}</td>
            {% endif %}
        </tr>
        {% if cart.currencyCode is not same as(sylius.currencyCode) %}
            <tr>
                {% if isCart %}
                <td>A régler pour réserver (acompte):</td>
                <td id="sylius-cart-base-grand-total" {{ sylius_test_html_attribute('cart-base-grand-total') }} class="right aligned">{{ totalAcompte }}</td>
                {% else%}
                    <td>{{ 'sylius.ui.base_currency_order_total'|trans }}:</td>
                    <td id="sylius-cart-base-grand-total" {{ sylius_test_html_attribute('cart-base-grand-total') }} class="right aligned">
                        {% if cart.isTotallyPaid %}
                            {{ total }}
                        {% else %}
                            {{ totalRestant }}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">
                {{ form_start(form, {'action': path('sylius_shop_cart_save'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="_method" value="PATCH"/>
                {{ form_row(form._token) }}
                <span class="sylius-totality ui form" title="Payer la totalité de la réservation">{{ form_row(form.isTotallyPaid) }}</span>
                {{ form_end(form, {'render_rest': false}) }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
