<button type="submit" class="ui icon labeled basic button" id="sylius-cart-update" {{ sylius_test_html_attribute('cart-update-button') }} form="{{ main_form }}">
    <i class="undo icon"></i> Actualiser
</button>
