<div class="sylius-update-product-taxons" data-controller="admin--update-positions" data-admin--update-positions-url-value="{{ path(options.link.route) }}">
    <button class="ui labeled loadable icon button sylius-save-position" data-action="click->admin--update-positions#update">
        <i class="icon checkmark"></i>
        {{ 'sylius.ui.save_positions'|trans }}
    </button>
</div>
