<a href="{{ path('app_shop_article_detail', {'id': article.id}) }}" class="card">
    <div class="image">
        {% set url= article.imageUrl ??  article_image_url %}
        <img src="{{ asset(url) }}" loading="lazy">
    </div>
    <div class="content">
        <div class="header">{{ article.title }}</div>
        <div class="date">Créé le 05/09/2010</div>
        <div class="basic-btn">En savoir plus<i class="ui icon alternate arrow right"></i></div>
    </div>
</a>
