{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}Articles et blog{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% set hasNoContainer = true %}

{% block content %}
    <div class="main-article main-page fit-content">
        <div class="subtitle">Nos articles</div>
        {% include 'App/Article/_items.html.twig' %}
    </div>
{% endblock %}

