{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}{{ article.metaDescription }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% set hasNoContainer = true %}
{%  set image = asset('/build/core/images/grass/verdure3.webp') %}
{% block content %}
    <div class="article page fit-content">
        <div class="article-header">
            <div class="background" style="background-image: url('{{ image }}')">
            </div>
        </div>
        <div class="content">
            <div class="title">{{ article.title }}</div>
            <div class="html">
                {{ article.content|raw }}
            </div>
        </div>
    </div>

{% endblock %}
