.cart {

    .ui.table.items {

        .quantity {
            input {
                width: 60px;
            }
        }
    }
    .ui.header.info {
        .content {
            font-size: 1rem;
            color: #999;
            font-weight: 500;
        }
    }

    .totals {
        .ui.header:not(tr) {
            margin-top: 0 !important;
        }
    }

    @media (max-width: 1000px) {
        .ui.grid {
            .column {
                width: 100%!important;
                margin: 0 0!important;
                box-shadow: none!important;
                padding: 1rem 1rem!important;
            }
        }
    }

    @media (max-width: 765px) {
        margin-top: 5rem !important;

        h1.ui.header {
            text-align: center;
        }

        .ui.table {
            thead {
                display: none !important;
            }

            tbody > tr  {
                border-top: 1px solid rgba(0,0,0,.1) !important;
                border-bottom: none !important;

                &:first-child {
                    border-top: none !important;
                }

                td {
                    border: none !important;

                    &.quantity {
                        input {
                            width: 40px;
                        }
                    }

                    &.acompte {
                        display: none !important;
                    }
                }
            }

            &.items {
                tr {
                    display: flex !important;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    align-items: center;

                    td:first-child {
                        width: 100% !important;
                    }
                }
            }
        }

        .totals {
            .ui.header:not(tr) {
                display: none !important;
            }
            .ui.table {

                tr {
                    border-bottom: none !important;
                    box-shadow: none !important;
                    display: flex !important;
                    justify-content: space-between;

                    > td {
                        padding-left: 0 !important;
                    }

                    &.ui.header {
                        margin: 0 !important;

                        td {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
