.checkout {
    .summary {
        .ui.table {
            @media (max-width: 765px) {
                thead {
                    display: table-header-group !important;
                }

                tbody {
                    display: table-row-group !important;
                }

                tfoot {
                    display: table-footer-group !important;
                }

                tr {
                    display: table-row !important;
                    padding: 10px 0;
                }

                td, th {
                    display: table-cell !important;
                    padding: 10px 0 !important;
                }
            }
        }
    }
}
