.product-detail{
    margin-top: 10rem;

    @media (max-width: 768px){
        margin-top: 5rem;
    }

    .two.column {
        margin-top: 5rem;
        > .column {
            flex-basis: 50% !important;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            > .column {
                width: 100% !important;

                &:first-child {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .ui.monster.header {
        font-size: 2rem;
    }

    .main-image {
        display: block;
        height: 500px;
        width: 500px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: auto;
            border-radius: 6px;
        }

        @media (max-width: 1200px) {
            height: 300px;
            width: 300px;
        }

        @media (max-width: 768px) {
            height: 300px;
            width: 300px;
        }
    }

    .short-description {
        margin-top: 30px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .price-widget {
        margin: 30px 0 !important;
        .span:nth-child(2) {
            font-style: italic;
        }
    }

    .variant-options {
        #sylius-product-selecting-variant {
            border: none !important;
            box-shadow: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    .ui.top.attached.large.tabular.menu .item.active {
        border-color: $color3 !important;
    }
}
