@use '../colors';

.main-product {
    font-size: 1rem !important;

    .faq { margin-bottom: 2rem; }

    i.star.icon {
        color: colors.$color-warning;
    }

    .subtitle {
        width: 100%;
        text-align: center;
        margin-bottom: 3rem;
    }

    .simple-title {
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    .product-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(100% / 5));
        width: 100%;

        .card {
            padding: 10px;
            height: 400px;
            margin: 0 !important;
            max-width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 290px;
            min-height: 0;
            box-shadow: none !important;
            background: none !important;
            transition: all 0.5s ease-out;

            &:hover {
                transform: scale(1.03);
            }

            a {
                border-radius: 6px 6px 0 0!important;
                font-weight: 700;
            }

            i {
                position: absolute;
                z-index: 30;
                left: 20px;
                top: 20px;
                font-size: 1.4rem;
            }

            .image {
                min-height: 70%;
                width: 100%;
                border: none;
                img {
                    border-radius: 6px 6px 0 0!important;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin: auto;
                    display: block;
                }
                .dimmer {
                    border-radius: 6px 6px 0 0!important;
                }
            }

            .content {
                border: none !important;
                margin-top: 1rem;
                a {
                    font-size: 1.2rem !important;
                }
            }

            .disponibility {
                margin: 0;
                color: #FFFFFF;
                padding: 5px;
                font-weight: bold;
                border-radius: 0 0 6px 6px;
                &.disponible {
                    background-color: $color-valid;
                }
                &.disponibleSoon {
                    background-color: $color-warning;
                }
                &.indisponible {
                    background-color: $color-stop;
                }
            }
        }

        @media (max-width: 1350px) {
            grid-template-columns: repeat(auto-fill, calc(100% / 4));
            .card {
                height: 350px;
            }
        }

        @media (max-width: 800px) { grid-template-columns: repeat(auto-fill, calc(100% / 3)); }

        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            .card {
                width: 100%;
                .content {font-size: 1rem;}
                font-size: 1rem;
            }
        }
    }
}
