<div class="uppercase {{ direction }} band">
    <div class="basic"><i class="fa fa-crow fa-flip-horizontal"></i></div>
    <div class="font-bold basic extra-border">suivi</div>
    <div class="colored font-bold">professionnel</div>
    <div class="basic"><i class="fa fa-crow fa-flip-horizontal"></i></div>
    <div class="basic font-bold colored">vente</div>
    <div class=" italic">accompagnement</div>
</div>
<div class="uppercase {{ direction }} band">
    <div class="italic">accompagnement</div>
    <div class="basic"><i class="fa fa-crow"></i></div>
    <div class="basic font-bold colored">expertise</div>
    <div class="font-bold basic extra-border">conseils</div>
    <div class="colored font-bold">livraison</div>
    <div class="basic"><i class="fa fa-crow"></i></div>
</div>
