
{% set src_max = asset(src ~ '_500.webp') %}
{% set src_med = asset(src ~ '_350.webp') %}
{% set src_min = asset(src ~ '_250.webp') %}
{% if direction == 'right' %}
<div class="d-flex justify-between align-center bird-row">
    <div class="d-flex justify-start img-section wp-50">
        <img src="{{ src_max }}" srcset="{{ src_min }} 250w, {{ src_med }} 350w, {{ src_max }} 500w"
             sizes="(max-width: 1024px) 350w, (max-width: 400px) 250w, 500w"
             class="masked-image"
             loading="lazy">
    </div>
    <div class="d-flex justify-center align-center text-right text-section wp-50 {{ direction }}">
        <div><span class="uppercase"><strong>{{ espece }}</strong></span> {{ text }}</div>
    </div>
</div>
{% else %}
<div class="d-flex justify-between align-center bird-row">
    <div class="d-flex justify-center align-center text-section {{ direction }} wp-50">
        <div><span class="uppercase"><strong>{{ espece }}</strong></span> {{ text }}</div>
    </div>
    <div class="d-flex justify-end img-section wp-50">
        <img src="{{ src_max }}" srcset="{{ src_min }} 250w, {{ src_med}} 350w, {{ src_max }} 500w"
             sizes="(max-width: 1024px) 350w, (max-width: 400px) 250w, 500w"
             class="masked-image"
             loading="lazy">
    </div>
</div>
{% endif %}
