<button type="submit" class="fluid important-btn" {{ sylius_test_html_attribute('confirmation-button') }} title="Confirmer">
    <i class="check icon"></i> {{ 'sylius.ui.place_order'|trans }}
</button>
