{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}Tout ce qu'il y a à savoir sur la réglementation{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% set hasNoContainer = true %}

{% block content %}
    <div class="main-legislation main-page fit-content">
        <div class="subtitle">Législation</div>
    </div>
{% endblock %}

