{% set enabled = order.payments|length %}

<div class="ui two column grid">
    <div class="column">
        {% if sylius_is_shipping_required(order) %}
            <a href="{{ path('sylius_shop_checkout_select_shipping') }}" class="basic-btn" title=" {{ 'sylius.ui.change_shipping_method'|trans }}"><i class="arrow left icon"></i> {{ 'sylius.ui.change_shipping_method'|trans }}</a>
        {% else %}
            <a href="{{ path('sylius_shop_checkout_address') }}" class="basic-btn" title="{{ 'sylius.ui.change_address'|trans }}"><i class="arrow left icon"></i> {{ 'sylius.ui.change_address'|trans }}</a>
        {% endif %}
    </div>
    <div class="right aligned column">
        <button type="submit" id="next-step" class="important-btn{% if not enabled %} disabled{% endif %}" {{ sylius_test_html_attribute('next-step') }} title="{{ 'sylius.ui.next'|trans }}">
            <i class="arrow right icon"></i>
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
