{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('show')), options.link.parameters|default({'id': data.id}))) %}

{% if data.paymentState in ['awaiting_payment'] %}
    <a href="{{ path }}" class="basic-btn ml-1" title="{{ 'app.ui.complete_solde'|trans }}"><i class="credit card icon"></i>{{ action.label|trans }}</a>

{% elseif data.paymentState in ['partially_paid'] and data.state == 'confirmed' %}
    <a href="{{ path('sylius_shop_order_show', {'tokenValue': data.tokenValue}) }}" class="basic-btn ml-1" title="{{ 'app.ui.complete_solde'|trans }}">{{ 'app.ui.complete_solde'|trans }}</a>
{% endif %}
