{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}Conditions générales de vente{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% set hasNoContainer = true %}

{%  set image = asset('images/about_background2.jpg') %}

{% block content %}
    <div class="fit-content cgv main-page">
        <div class="subtitle">Conditions générales de vente</div>
        <div class="content">
            {% for cgv in cgvs %}
                {% include 'App/CGV/_item.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
