<h4 class="ui dividing header">{{ 'app.ui.new_customer'|trans }}</h4>
<a href="{{ path('sylius_shop_register') }}" class="fluid important-btn">
    <i class="signup icon"></i>
    {{ 'sylius.ui.create_an_account'|trans }}
</a>
