<span class="cke_toolbar cke_toolbar_last ui hidden element" role="toolbar">
    <span class="cke_toolbar_start"></span>
    <span class="cke_toolgroup" role="presentation">
        <a class="cke_button" title="Insérer une variable" >
            <span class="cke_button_icon"><i class="ui mini tags icon"></i></span>
        </a>
    </span>
    <span class="cke_toolbar_end"></span>
</span>
