{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}Mon panier{% endblock %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ header|trans }} | {{ parent() }}{% endblock %}

{% block bodyClasses %}cart mt-10{% endblock %}

{% block content %}
    {% if not cart.empty %}
        {{ sylius_template_event('sylius.shop.cart.header', {'header': header, 'cart': cart}) }}
        <div class="ui stackable grid">
            <div class="eleven wide column">
                {{ sylius_template_event('sylius.shop.cart.items', {'cart': cart, 'form': form}) }}
            </div>
            <div class="five wide column">
                {{ sylius_template_event('sylius.shop.cart.summary', {'cart': cart, 'form': form}) }}
            </div>
        </div>
        {{ sylius_template_event('sylius.shop.cart.suggestions', {'cart': cart}) }}
    {% else %}
        {{ messages.info('sylius.ui.your_cart_is_empty') }}
    {% endif %}
{% endblock %}
