@import "../shop/colors";

.important-btn {
    display: inline-block;
    color: #FFFFFF ;
    padding: 10px 15px;
    background-color: $color3;
    border-radius: 4px;
    text-align: center;
    min-height: 40px;
    width: fit-content;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    border: 1px solid $color3;
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 1rem !important;
    }
    &:hover {
        background-color: #FFFFFF !important;
        color: $color3 !important;
        border: 1px solid $color3 !important;
    }

    &.fluid {
        width: 100%;
    }
}

.basic-btn {
    height: 40px;
    color: $color3;
    padding: 10px 15px;
    border: 1px solid $color3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-transform: uppercase;
    transition: all 0.5s ease-out;
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 1rem !important;
    }
    &:hover {
        background-color: $color3;
        color: #FFFFFF!important;
    }

    &.active {
        background-color: $color3;
        color: #FFFFFF !important;
    }

    &.fluid {
        width: 100%;
    }
}
