
.w-auto {
    width: auto;
}
.h-auto {
    height: auto;
}

@for $i from 1 through 100 {
    .wscreen-#{$i*10} {
        width: 10vw*$i;
    }
}

@for $i from 1 through 100 {
    .wp-#{$i*10} {
        width: 10%*$i;
    }
}

@for $i from 1 through 100 {
    .wr-#{$i} {
        width: 1rem*$i;
    }
}

@for $i from 1 through 100 {
    .hscreen-#{$i*10} {
        height: 10vw*$i;
    }
}

@for $i from 1 through 100 {
    .hp-#{$i*10} {
        height: 10%*$i;
    }
}

@for $i from 1 through 100 {
    .hr-#{$i} {
        height: 1rem*$i;
    }
}

