@for $i from 1 through 10 {
    .m-#{$i} {
        margin: 1rem *$i !important;
    }
}

@for $i from 1 through 10 {
    .mx-#{$i} {
        margin-right: 1rem * $i !important;
        margin-left: 1rem * $i !important;
    }
}

@for $i from 1 through 100 {
    .mx-px-#{$i} {
        margin-top: 1px * $i !important;
        margin-bottom: 1px * $i !important;
    }
}

@for $i from 1 through 10 {
    .my-#{$i} {
        margin-top: 1rem * $i !important;
        margin-bottom: 1rem * $i !important;
    }
}

@for $i from 1 through 100 {
    .my-px-#{$i} {
        margin-top: 1px * $i !important;
        margin-bottom: 1px * $i !important;
    }
}

@for $i from 1 through 10 {
    .mr-#{$i} {
        margin-right: 1rem * $i !important;
    }
}

@for $i from 1 through 10 {
    .ml-#{$i} {
        margin-left: 1rem * $i !important;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-bottom: 1rem * $i !important;
    }
}

@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: 1rem * $i !important;
    }
}
