@for $i from 1 through 10 {
    .p-#{$i} {
        padding: 1rem *$i;
    }
}

@for $i from 1 through 10 {
    .px-#{$i} {
        padding-right: 1rem * $i;
        padding-left: 1rem * $i;
    }
}

@for $i from 1 through 10 {
    .py-#{$i} {
        padding-top: 1rem * $i;
        padding-bottom: 1rem * $i;
    }
}

@for $i from 1 through 10 {
    .pr-#{$i} {
        padding-right: 1rem * $i;
    }
}

@for $i from 1 through 10 {
    .pl-#{$i} {
        padding-left: 1rem * $i;
    }
}

@for $i from 1 through 10 {
    .pb-#{$i} {
        padding-bottom: 1rem * $i;
    }
}

@for $i from 1 through 10 {
    .pt-#{$i} {
        padding-top: 1rem * $i;
    }
}
