.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

@for $i from 0 through 100 {
    .top-#{$i} {
        top: $i;
    }
}

@for $i from 0 through 100 {
    .bottom-#{$i} {
        bottom: $i;
    }
}
