.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.italic {
    font-style: italic;
}
