{% extends 'App/Mails/Email/layout.html.twig' %}

{% block subject %}
    {% include '@SyliusCore/Email/Blocks/ContactRequest/_subject.html.twig' %}
{% endblock %}

{% block content %}
    {% include '@SyliusCore/Email/Blocks/ContactRequest/_content.html.twig' %}
{% endblock %}
