{% block body %}
    {% autoescape false %}
        {% set logo = sylius_channel_url(asset('build/core/images/logo.webp'), channel) %}
        <div style="font-family: sans-serif; background: #eee; padding-top: 30px; padding-bottom: 30px; font-size: 16px; color: #333; line-height: 1.5">
            <div style="max-width: 600px; margin: 20px auto;">
                <div style="margin-bottom: 30px; text-align: center;">
                    {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
                        {% set url = path('sylius_shop_homepage', {'_locale': localeCode}) %}
                        <a href="{{ url|raw }}">
                            <img src="{{ logo }}" alt="Sylius" style="width: 170px">
                        </a>
                    {% else %}
                        <img src="{{ logo }}" alt="Sylius" style="width: 170px">
                    {% endif %}
                </div>

                <div style="background: #fff; padding: 40px 30px;">
                    {% block content %}{% endblock %}
                </div>

                {% set url = path('sylius_shop_homepage', {'_locale': localeCode}) %}
                <div style="text-align: center; padding: 20px 0;">
                    <a href="{{ url|raw }}" target="_blank" style="color: #2F4550; text-decoration: none;">Un amour de perroquet</a>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
