{% extends 'App/Mails/Email/layout.html.twig' %}

{% block subject %}
    {% include 'App/Mails/Email/Blocks/OrderConfirmation/_subject.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'App/Mails/Email/Blocks/OrderConfirmation/_content.html.twig' %}
{% endblock %}
