{% extends 'App/Mails/Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.email.user_registration.subject'|trans({}, null, localeCode) }}
{% endblock %}

{% block content %}
    {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
        {% set url = sylius_channel_url(path('sylius_shop_homepage', {'_locale': localeCode}), channel) %}
    {% endif %}
    <div style="text-align: center; margin-bottom: 30px;">
        <div style="font-size: 24px;">
            {{ 'sylius.email.user_registration.welcome_to_our_store'|trans({}, null, localeCode) }}<br>
        </div>
        {{ 'sylius.email.user_registration.you_have_just_been_registered'|trans({}, null, localeCode) }} {{ user.username }}.
    </div>

    <div style="text-align: center;">
        {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
            <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
                {{ 'sylius.email.user_registration.start_shopping'|trans({}, null, localeCode) }}
            </a>
        {% else %}
            <a href="{{ channel.hostname|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
                {{ 'sylius.email.user_registration.start_shopping'|trans({}, null, localeCode) }}
            </a>
        {% endif %}
    </div>
{% endblock %}
