<div class="ui large modal images" data-admin--image-target="modalImage">
    <div class="header">
        Sélectionner une image
    </div>

    <div class="scrolling content" style="display: flex; flex-wrap: wrap;" data-admin--image-target="content">
        <div class="ui active inverted dimmer" data-admin--image-target="loader">
            <div class="ui small text loader">Chargement</div>
        </div>
    </div>

    <div class="actions">
        <div class="ui labeled icon cancel button">
            <i class="left close icon"></i>
            Fermer
        </div>
        <div class="ui labeled icon green button" data-admin--image-target="validBtn">
            <i class="left check icon"></i>
            Valider la sélection
        </div>
    </div>
</div>
