<div class="ui basic modal" data-core--video-target="modal">
    <div class="actions">
        <div class="ui white basic cancel inverted icon button" data-action="click->core--video#close">
            <i class="close icon"></i>
        </div>
    </div>
    <div class="content" style="display: flex; justify-content: center; align-items: center;">
        <video width="400" controls  data-core--video-target="video">
            <source src="" type="video/WebM">
            <source src="" type="video/mov">
            <source src="" type="video/mkv">
            <source src="" type="video/flv">
            <source src="" type="video/avchd">
            <source src="" type="video/avi">
        </video>
    </div>

</div>
