{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<i class="shopping bag icon"></i>
<span id="sylius-cart-total" {{ sylius_test_html_attribute('cart-total') }}>
    {{- money.convertAndFormat(cart.itemsTotal) -}}
</span>
