@import "colors";


.pusher {
    position: relative;
    overflow: hidden;
}
body {
    *:not(i) {font-family: 'Inter', sans-serif !important;}
}

.title2 {color: $color3;}

.main-content {
    margin: 5rem auto;
}

.fit-content {
    max-width: 100vw;
    margin-left: 10vw;
    margin-right: 10vw;
    @media (max-width: 300px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.extra-fit-content {
    max-width: 100vw;
    margin-left: 17vw;
    margin-right: 17vw;

    @media (max-width: 1500px) {
        margin-left: 10vw;
        margin-right: 10vw;
    }

    @media (max-width: 768px) {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    @media (max-width: 300px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.rotate-90 {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
}



.all-height {height: calc(100vh - 5rem);}

a {
    font-size: 1rem !important;
    line-height: 1.25em !important;
    &:not(.important-btn) {
        color: $color3 !important;
    }
}

.card {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 28px 54px rgba(0,0,0,.08);
}

.main-page {
    margin-top: 10rem;
    min-height: calc(100vh - 5rem);
    .subtitle {
        text-align: center;
        margin-bottom: 5rem;
    }
}
