$color1: #D5F2E3;
$color2: #238086;
$color3: #2F4550;
$color4: #586F7C;
$color5: #B8DBD9;
$color7: #D5F2E3;
$color6: #F2F2F2;
$color8: #64baa1;

$color10: #F1E8DC;

$color3_shade1: #445862;
$color3_shade2: #596a73;
$color3_shade3: #596a73;
$color3_shade4: #6d7d85;
$color3_shade5: #6d7d85;

$color-warning: #FED502;
$color-valid: #64baa1;
$color-stop: #cd3f3f;
