/*! purgecss start ignore */
.masked-image {
    -webkit-mask-image: url('../../../public/images/masks/main_mask1920.webp');
    mask-image: url('../../../public/images/masks/main_mask1920.webp');
    mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 0;
    mask-size: 0;
    -webkit-mask-position: center;
    mask-position: center;

}
@media (max-width: 767px) {
    .masked-image {
        -webkit-mask-image: url('../../../public/images/masks/main_mask500.webp');
        mask-image: url('../../../public/images/masks/main_mask500.webp');
    }
}
.mask-animation { animation: mask-animation 6.5s  forwards;}
.mask-animation-slow {animation: mask-animation 9s  forwards;}

@keyframes mask-animation {
    0% {
        -webkit-mask-size: 0;
        mask-size: 0;
    }
    100% {
        -webkit-mask-size: 400%;
        mask-size: 400%;
    }
}
/*! purgecss end ignore */
