<div class="taxon-list">
    {% if taxons|length > 0 %}
        {% include '@SyliusShop/Taxon/_item.html.twig' %}
        {% for taxon in taxons %}
           {% include '@SyliusShop/Taxon/_item.html.twig' %}
        {% endfor %}
    {% endif %}
</div>
