{% if taxon is defined %}
    <a href="{{ path('app_product_main_index', {'category': taxon.slug, '_locale': taxon.translation.locale}) }}"
        class="basic-btn ui {% if category == taxon.slug %}active{% endif %}" {{ sylius_test_html_attribute('menu-item') }}>
        {{ taxon.name }}
    </a>
{% else %}
    <a href="{{ path('app_product_main_index') }}"
       class="basic-btn ui {% if category  is null %}active{% endif %}" {{ sylius_test_html_attribute('menu-item') }}>
        Tout afficher
    </a>
{% endif %}

