{% for taxon in taxons %}
        <a href="{{ path('app_product_main_index', {'category': taxon.slug, '_locale': taxon.translation.locale}) }}"
           class="item">
            {{ taxon.name }}
        </a>
{% endfor %}
