{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationFormWithSlug %}

<div class="ui active tab" data-tab="details">
    <h3 class="ui top attached header">{{ 'sylius.ui.details'|trans }}</h3>

    <div class="ui attached segment">
        {{ form_errors(form) }}

        <div class="ui two column stackable grid">
            <div class="column">
                <div class="ui segment">
                    {{ form_row(form.code) }}
                    {{ form_row(form.enabled) }}
                    {{ form_row(form.mandatoryDeclaration) }}
                    {{ form_row(form.options) }}
                </div>
            </div>
            <div class="column">
                {{ form_row(form.channels) }}
                {{ form_row(form.disponibility) }}
                <div class="ui two column grid">
                    <div class="column">
                        {{ form_row(form.disponibilityMonth) }}
                    </div>
                    <div class="column">
                        {{ form_row(form.disponibilityYear) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        {{ translationFormWithSlug(form.translations, '@SyliusAdmin/Product/_slugField.html.twig', product) }}

        {{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_details', 'sylius.admin.product.tab_details'], {'form': form}) }}
    </div>
</div>
