<div class="ui tab" data-tab="emails">
    <h3 class="ui top attached header">Modèles d'e-mail à envoyer</h3>
    <div class="ui attached segment">
        {{ form_errors(form) }}
        <div class="column">
            {{ form_row(form.confirmEmail) }}
            {{ form_row(form.canceledEmail) }}
        </div>
    </div>
</div>
