<div class="ui tab" data-tab="inventory">
    <h3 class="ui top attached header">{{ 'sylius.ui.inventory'|trans }}</h3>
    <div class="ui attached segment">
       {{ form_row(form.inventory) }}
    </div>

    {{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_inventory', 'sylius.admin.product.tab_inventory'], {'form': form}) }}

</div>
