
<div class="ui tab" data-tab="pricing">
    <h3 class="ui top attached header">Prix</h3>
    <div class="ui attached segment">
        {{ form_errors(form) }}
        <div class="column">
            {{ form_row(form.priceHT) }}
            {{ form_row(form.priceTTC) }}
            {{ form_row(form.acompte) }}
        </div>
    </div>
</div>
