<div class="section mb-2">
    <div class="title-section mb-1"><span class="position">{{ section.position }}</span> {{ section.title }}</div>
    <div class="ui divider"></div>
    <div class="content-section">{{ section.content|raw }}</div>
</div>
