{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="">
    {% if data is not null %}
        {{ data|price(sylius.currencyCode, sylius.localeCode) }}
    {% else %}
        --
    {% endif %}
</div>

