{% extends '@SyliusShop/layout.html.twig' %}

{% block metaDescription %}{{ homepage.metaDescription }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('core', null, 'core') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('core', null, 'core') }}
{% endblock %}

{% block links %}
    <link rel="preload" as="image" href="{{ asset('/build/core/images/tache1.webp') }}" />
{#    <link rel="preload" as="image" href="{{ asset('build/core/images/masks/watercolor1920.webp') }}">#}
    <link rel="preload" as="image" href="{{ asset(video_image_url) }}" />
    <link rel="preload" as="image" href="{{ asset(article_image_url) }}" />
    {% for article in articles %}
        {% if article.imageUrl %}
        <link rel="preload" as="image" href="{{ asset(article.imageUrl) }}" />
        {% endif %}
    {% endfor %}
{#    <link rel="preload" as="image" href="{{ asset('images/other/watercolor.png') }}" />#}
{% endblock %}


{% set hasNoContainer = true %}

{% block controllers %}core--image-mask core--parallax{% endblock %}
{% block bodyClasses %}homepage{% endblock %}

{% block content %}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/presentation.html.twig' %}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/headband.html.twig'%}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/about.html.twig'%}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/info.html.twig'%}
{#    {% include 'bundles/SyliusShopBundle/Homepage/landing/pictures_band.html.twig'%}#}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/bird-list.html.twig'%}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/videos.html.twig'%}
    {% include 'bundles/SyliusShopBundle/Homepage/landing/articles.html.twig'%}
{#    Image pour les animaton de canvas #}
{#    <img src="{{ asset('images/other/watercolor.png') }}" class="hidden" id="image-canvas">#}
{% endblock %}
