<div class="ui center aligned inverted basic segment bottom-segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="https://sylius.com" class="link" target="_blank">Sylius</a>.</p>
    <a target="_blank" href="//facebook.com/unamourdeperroquet/"><i class="big inverted facebook icon"></i></a>
</div>
