<div class="ui hidden divider"></div>

<div class="ui two column stackable grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular user icon"></i>
            <div class="content">
                {{ 'sylius.ui.register_in_the_store'|trans }}
            </div>
        </h1>
    </div>
    <div class="middle aligned column">
        <a href="{{ path('sylius_shop_login') }}" class="basic-btn fluid">{{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}.</a>
    </div>
</div>
